/*
#main-container{
    display: grid;
}
.imgBg{
    display: grid;
    width: 100%;
    height:260px;
}
.balk1{
    background-color: darkblue;
    grid-row: 1;

}
.balk2 {
    background-color: darkblue;
}*/
