@font-face {
    src: url("fonts/static/OpenSans");
    font-family: 'Open Sans', sans-serif;
}


html, body {
    font-family: 'Open Sans', sans-serif !important;
    max-width: 100%;

}



.container-right {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left top;

}

#title_Stemadvies {
    font-size: 60px;
    font-family: "Open Sans", sans-serif;
    padding-left: 124px;
    color:#000000;
    font-weight: 500;
}

.title_Stemadvies {
    font-size: 60px;
    font-family: "Open Sans", sans-serif;
    padding-left: 124px;
    color:#FFFF;
    font-weight: 500;
    position: absolute;
    top: 1%;
}

#logo_Stemadvies {
    height: 74px;
    width:  100px;
    border-radius: 22px;
}

.logo_Stemadvies {
    height: 74px;
    width:  99px;
    border-radius: 22px;
    position: absolute;
    top: 2%;
}

#div_title {
    margin-top: 40px;
}
#div_login {
    font-size: 70px;
    font-weight: bold;
    color:#000000;
}

#formLogin label {
    font-size: 25px;
    font-weight: 600;
}

.blue {
    color: #0B1F8F;
}

#formLogin input {
    width: 100%;
    height: 80px;
    border-radius: 40px;
}

.input_text {
    border-color: #707070;
    padding-left: 20px;
    font-size: 20px;
}

#formLogin {
    margin-top: 50px;
}

#span_password {
    margin-top: 30px;
}

.input_submit {
    background: #0B1F8F;
    color: white;
    font-size: 25px;
    margin-top: 40px;
}

.copyright {
    color: #D1D1D1;
    position: absolute;
    top: 40%;
}

#copyright {
    color: #9B9B9B;
    font-size: 22px;
    margin-top: 160px;
}

header, footer {
    background: #0B1F8F;
    height: 12vh;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -1%;
}

.containerWidth {
    max-width: 955px;
    margin: auto;
}

/*.crud {
    background-color: rgba(255,255,255,.40);
    margin-top: 13%;
    border: 3px solid #ffffff;
    border-radius: 20px;
    font-size: 40px;
    height: 510px;

}*/

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
table {
    height: 505px;
    width: 100%;
}

.crudEdit {
    background-color: rgba(255,255,255,.40);
    margin-top: 13%;
    border: 3px solid #ffffff;
    border-radius: 20px;
    font-size: 40px;
    height: 510px;
}

.background {
    box-shadow: inset 0 0 0 1000px rgba(11,31,143,.62);
    height: 93vh;
}

.loguit {
    font-size: 60px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    color: white;
    float: right;
    margin-top: 1%;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    background-repeat: no-repeat;
}

.col_ID_Party {
    border-right: 3px solid white;
    max-width: 100px;
}

.col_ID_Statements {
    border-right: 3px solid white;
    max-width: 100px;
}

.col_Party {
    border-right: 3px solid white;
}

.col_Statements {
    border-right: 3px solid white;
}

.border_top {
    border-top: 3px solid white;
}

.hide {
    content-visibility: hidden;
}

.button_add {
    text-align: center;
}

.buttonStyleHide {
    background: none;
    border: none;
}